* {
  font-family: 'Noto Sans', sans-serif !important;
}
body {
  /* width:100%; */
  margin: 0;
  padding:24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f8ff;
}

