.LandingPageContainer {
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  width: 500px;
}

.contentContainer {
  width: 100%;
}

@media (max-width: 600px) {
  .LandingPageContainer {
    width: 100%;
  }
}
