.title {
  font-weight: 300;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 64px;
}

.primary {
  font-size: 30px;
  line-height: 40px;
}

.secondary {
  font-size: 26px;
  line-height: 34px;
  color: cadetblue;
}
